@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

$fundo: #0f0e17;
$texto: #fffffe;
$cor-principal: #e53170;
$destaque: #30E640;

:root{
    font-size: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cutive Mono', monospace;
}

body{
    background: $fundo;
    text-align: center;
    color: $texto;
}

table{
    width: 80%;
    margin: 30px auto;
    table-layout: fixed;
    tr{
        background: lighten($cor-principal, 20);
        color: $fundo;
        text-align: center;
        th{
            padding: 10px;
            background: $cor-principal;
            color: $texto;
        }
        td{
            padding: 5px;
        }
    }
}

h1{
    margin: 30px 0;
}

.saida-intermediaria{
    background: lighten($cor-principal, 15);
}

.saida-final{
    background: lighten($cor-principal, 10);
}

.saida-positiva{
    background: lighten($cor-principal, 5);
    width: 25px;
    margin: 0 auto;
    border-radius: 50%;
}

.modelo-exemplo{
    margin: 0 auto;
    width: fit-content;
    padding: 20px;
    border-radius: 7px;
    border: 2px solid $cor-principal;
}

.exemplo, input, select, button{
    margin: 10px;
    border: 1px solid $cor-principal;
    border-radius: 7px;
    padding: 7px;
    background: rgba(0, 0, 0, 0);
    color: white;
    outline: none;
    width: 35px;
    text-align: center;
}

input, select{
    transition-duration: 0.2s;
    &:focus{
        transform: translateY(-3px);
        border-color: $destaque;
    }
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    font-size: 0.9rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $cor-principal;
    transition: background 0.2s;
    &:focus{
        border: 1px solid $destaque;
    }
    &:hover{
        background: lighten($cor-principal, 5);
        transition: background 0.2s;
    }
    &:active{
        transform: translateY(-1px);
        transition: background 0.2s;
        background: darken($cor-principal, 10);
    }
    &.big-button{
        padding: 10px;
    }
}

.campo-saida{
    margin: 30px auto;
    width: 80%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    input, select{
        transition-duration: 0.2s;
        &:hover{
            border: 1px solid $destaque;
            transition-duration: 0.2s;
        }
    }
    select{
        appearance: none;
        option{
            background: $fundo;
        }
    }
    button{
        // border-radius: 50%;
        font-weight: bold;
        width: 30px;
        height: 30px;
    }
    .separacao{
        width: 2px;
        height: 35px;
        background: $cor-principal;
    }
}